# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

complete_university_ranking_system.md

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Data
frontend/public/data/arwu_rankings.csv # ARWU rankings
frontend/public/data/qs_rankings.xlsx # QS rankings
frontend/public/data/the_rankings.json # THE rankings
frontend/public/data/usnews_rankings.csv # US News rankings



